* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    background-color: #FFEECC;
    font-family: 'Noto Sans TC', sans-serif; 
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
  }

  a {
    display: block;
    margin: 25px;
  }

  nav a{
    color: #F7D7CA;
  }
  
  nav {
    padding: 1% 0;
    background-color: #1700d1;
    color: #F7D7CA;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  header {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    padding: 12% 0;
    border-bottom: 2px solid #A6ABAB;
  }

  footer {
      border-top: 2px solid grey;
      margin: 2em;
      margin-left: 15%;
      margin-right: 15%;
      position: relative;
  }

  #placeholder-img {
      font-size: 8px;
  }
  
  section {
    min-height: 200px;
    padding: 6% 0;
  }
  
  #profile-pic {
      border-radius: 25%;
      height: 200px;
      width: 200px;
  }

  #project-one {
      background-color: rgb(179, 171, 171);
      margin-left: 15%;
      margin-right: 15%;
      border: 2px solid;
      border-radius: 5%;
      
  }

  #project-1-snapshot {
      width: auto ;
      max-width: 75% ;
      height: auto ;
  }
        

  section a{
      color: black;
  }

  .fa-html5{
      color: orange;
  }

  .fa-css3-alt{
    color: red;
}

  .fa-js {
      color: purple;
  }

  #j-query-icon {
    width: 50px;
    height: 15px;
  }

  @media screen and (min-width: 520px) {
  
    #project-one {
        margin-left: 15%;
        margin-right: 15%;        
    }

    #project-1-snapshot {
        margin-top: 30px;
        width: auto ;
        max-width: 50% ;
        height: auto ;
    }

    a {
        display: inline-block;
    }



   
  }