* {
    box-sizing: border-box;
    font-family: acumin-pro, sans-serif;
  }
  
  body {
    margin: 0 auto;
    background-color: #f0e4ca;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
  }

  a {
    display: inline-block;
    margin: 25px;
  }

  nav a{
    color: #F7D7CA;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1% 0;
    background-color: #1700d1;
    color: #F7D7CA;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  header {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    padding: 7% 0;
    border-bottom: 2px solid #A6ABAB;
    border-bottom-style: inset;
  }

  header img {
    margin-top: 5%;
    margin-right: 10%;
    border-radius: 50%;
    height: 350px;
    width: 350px;
  }

  header h2 {
    font-size: 35px;
    text-align: center;
  }

  #about-me {
    max-width: 50%;
    font-size: 15px;
    text-align: left;
  }  

  footer {
      border-top: 2px solid grey;
      margin: 2em;
      margin-left: 15%;
      margin-right: 15%;
      position: relative;
  }
  
  section {
    margin: 2px;
  }

  .project-one, .project-two, .project-three, .project-four p {
    text-align: left;
    font-size: 20px;
    margin: 20px;
  }

  .project-links {
    text-decoration: none;
    background: beige;
    padding: 10px;
    border: 2px groove black;
  }

  article {
    display: flex;
    margin: 50px;
    padding: 25px;
  }

  #projects h3 {
    text-align: center;
  }

  #projects img {
    margin: 15px;
    margin-right: 50px;
    height: 40%;
    width: 40%;
    border-radius: 5%;
  }


  ul li {
    display: inline-block;
    list-style-type: none;
    text-align: left;
    font-size: 18px;
    margin: 15px;
    padding: 10px;
  }

  #project-one, #project-two, #project-three, #project-four {
      background-color: rgb(179, 171, 171);
      margin-left: 15%;
      margin-right: 15%;
      
  }      

  section a{
      color: black;
  }

  .fa-html5{
      color: orange;
  }

  .fa-css3-alt{
    color: red;
}

  .fa-js {
      color: purple;
  }

  .fa-react {
    color: blue;
  }

  .fa-node {
    color: green;
  }

  #j-query-icon {
    width: 50px;
    height: 15px;
  }

  @media screen and (max-width: 520px) {
  
    #project-snapshot {
        margin-top: 30px;
        width: auto ;
        max-width: 50% ;
        height: auto ;
    }

    a {
        display: block;
    }



   
  }