* {
    box-sizing: border-box;
    font-family: acumin-pro, sans-serif;
  }
  
  body {
    margin: 0 auto;
    background-color: #f0e4ca;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1% 0;
    background-color: #1700d1;
    color: #F7D7CA;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  nav a {
    display: inline-block;
    margin: 25px;
    color: #F7D7CA;
  }
  
  header {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    padding: 7% 0;
    border-bottom: 2px solid #A6ABAB;
    border-bottom-style: groove;
  }

  header img {
    margin-top: 5%;
    margin-right: 8%;
    border-radius: 50%;
    height: 350px;
    width: 350px;
  }

  header h2 {
    font-size: 35px;
    text-align: center;
  }

  #about-me {
    width: 70%;
    font-size: 16px;
    text-align: left;
  }

  #about-me p {
    text-align: left;
    padding: 10px;
    margin: 5px;
  }

  footer {
      border-top: 2px solid #A6ABAB;
      border-top-style: groove;
      margin: 2em;
      margin-left: 15%;
      margin-right: 15%;
      position: relative;
  }

  footer a {
    color: black;
    text-decoration: none;
    padding: 20px;
  }
  
  section {
    margin: 2px;
  }

  section p {
    text-align: left;
    font-size: 16px;
    padding: 10px;
    margin: 30px;
  }

  .project a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    background: beige;
    margin: 15px;
    padding: 8px;
    border: 2px groove black;
  }

  article {
    display: flex;
    margin: 50px;
    padding: 25px;
  }

  #projects h3 {
    text-align: center;
  }

  #projects img {
    margin: 15px;
    margin-right: 50px;
    height: 40%;
    width: 40%;
    border-radius: 5%;
  }

  ul {
    text-align: center;
    padding: 0;
  }


  ul li {
    display: inline-block;
    list-style-type: none;
    font-size: 14px;
    padding: 8px;
  }

  #project-one, #project-two, #project-three, #project-four {
      background-color: rgb(179, 171, 171);
      margin-left: 15%;
      margin-right: 15%;
      
  }

  @media screen and (max-width: 1500px) {

    article {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #projects img {
      margin: 0px;
      height: 70%;
      width: 70%;
      border-radius: 5%;
    }
  }

  @media screen and (max-width: 1100px) {
    header {
      display: block;
    }

    header img {
      height: 350px;
      width: 350px;
      margin: 0;
    }

    #about-me {
      width: 100%;
    }
  }

  @media screen and (max-width: 800px) {
    .project a {
      display: block;
      margin-right: 33%;
      margin-left: 33%;
    }
  }

  @media screen and (max-width: 520px) {

    nav {
      display: block;
    }

    .project p {
      margin: 0;
      padding: 0;
      
    }

    header img {
      height: 75%;
      width: 75%;
    }
  
    #project-snapshot {
      margin-top: 50px;
      width: auto ;
      height: auto ;
    }

    a {
      display: block;
    }

    .project a {
      padding: 5px;
    }

  }